/*// POP-UP BASE STYLES //*/

body {
  margin: 0;
  position: relative;
}

body.pop-up {
  background: #222;
}

* {
  font-family: Calibri, sans-serif; 
  font-weight: normal;
  color: #333;
}

h1{
  font-size: 48px;
  margin: 10px 0;
}

p{
  margin-bottom: 40px;
}

#pop-up {
  position: relative; 
  top: 20px; 
  width: 450px; 
  margin: 0 auto; 
  text-align: center;
}

#pop-up .container {
  background: #f0e4d4; 
  padding: 10px; 
  position: absolute; 
  top: 50px; 
  width: 100%; 
  box-sizing: border-box;
}

.cto {
  margin-bottom: 20px;
}

#pop-up input {
  padding: 10px;
  border: 0;
  border-radius: 10px 0 0 10px;
  border: 1px solid #333;
  font-size: 18px;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  border: 0;
  color: #fff;
  background: #333;
  margin-left: -5px;
  border-radius: 0 10px 10px 0;
  border: 1px solid #333;
  font-size: 18px;
}

.cross {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #555;
  color: #ddd;
  font-weight: bold;
  width: 22px;
  height: 22px;
  text-align: center;
  border-radius: 11px;
}

/*// POP-UP ANIMATION STYLES //*/
#pop-up {
  transform: translateY(-300px);
  animation: drop 2.5s ease forwards, swing 4s 3s ease forwards;
  transform-origin: 1px 1px;
}

@keyframes drop {
  0% {opacity: 0;}
  70% {transform: translateY(90px);}
  100% {transform: translateY(40px); opacity: 1;}
}

@keyframes swing {
  0% {transform: translateY(40px) rotateZ(0deg);}
  40% {transform: translateY(40px) rotateZ(90deg);}
  70% {transform: translateY(40px) rotateZ(70deg);}
  100% {transform: translateY(40px) rotateZ(0deg);}
}

/*// BASKET BASE STYLES //*/

body {
  font-size: 14px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  background: #fff;
  height: 90px;
}

header h1 {
  margin-left: 25px;
  font-size: 30px;
}

.basket-icon {
  height: 60px;
  width: 50px;
  margin-right: 35px;
  position: relative;
  z-index: 1;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 10px;
  /*margin-top: 10px;*/
}

ul {
  padding: 0;
  margin-top: 40px;
}

li {
  list-style-type: none;
  margin: 10px 1.5%;
  text-align: center;
}

.jersey {
  height: 80px;
  width: 100px;
}

li button {
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
}

.zoom {
  position: absolute;
  top: -5px;
  right: 40px;
  height: 30px;
  width: 40px;
  animation: zoom 3s ease forwards;
}

/*// BASKET ANIMATION STYLES //*/

@keyframes zoom {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(70px); /*Make basket wiggle a little bit as the item is dropped into it (later)*/
  }
}







