/*// BASE STYLES //*/

html, body{
  height: 100%;
  width:100%;
  overflow: hidden;
  margin: 0;
}

.grass, .sky, .road{
  position: relative;
}

.sky{
  height: 40%;
  background: skyblue;
}

.grass{
  height: 30%;
  background: seagreen;
}

.road{
  height: 30%;
  background: dimgrey;
  box-sizing: border-box;
  border-top: 10px solid grey;
  border-bottom: 10px solid grey;
  width: 100%;
}

.lines{
  box-sizing: border-box;
  border: 5px dashed #fff;
  height: 0px;
  width: 100%;
  position: absolute;
  top: 45%;
}

/*// ELEMENTS TO ANIMATE //*/
.mario {
  display: block;
  width: 60px;
  height: 70px;
  position: absolute;
  top: -30px;
  left: 0;
  animation: drive 3s both infinite linear, jump 0.3s 1.2s ease;
}

.luigi {
  display: block;
  width: 70px; 
  height: 80px;
  position: absolute;
  top: 60px;
  left: 0;
  animation: drive 5s infinite both linear;
}

.cloud {
  position: absolute;
}

.cloud:nth-child(1) {
  width: 200px;
  top: 120px;
  opacity: 0.5;
  animation: 25s linear 2s infinite alternate-reverse wind;
}

.cloud:nth-child(2) {
  width: 300px;
  top: 0;
  animation: 20s linear 2s infinite alternate wind;
}


/*// KEYFRAMES //*/

@keyframes drive {
  from {
    transform: translateX(-200px);
  }

  to {
    transform: translateX(1200px);
  } 
}

@keyframes wind {
  from {
    left: -300px;
  }

  to {
    left: 100%;
  }
}

@keyframes jump {
  0% { 
    top: -30px;
  }

  50% {
    top: -90px;
  }

  100% {
    top: -30px;
  }
}





